body {
  font-family: Arial, sans-serif;
}

#app {
  width: 50%;
  margin: auto;
}

h1 {
  text-align: center;
}

form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

input {
  flex: 1;
  margin-right: 10px;
  padding: 10px;
}

button {
  padding: 10px 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  cursor: pointer;
}
